SECRET_KEY=OLEG-CHAT-ETO-BEZOPASNO-A-GLAVNOE-KRASIVO
PEPPER_KEY=SUPER-DUPER-SECURE-PEPPER-NO-ONE-CAN-CRACK

POSTGRES_USER=food_tinder
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=food_tinder
POSTGRES_HOST=food-tinder-db
POSTGRES_PORT=5432